
/* Fonts start */

/* playfair-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playfair-display-v39-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/playfair-display-v39-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/playfair-display-v39-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/playfair-display-v39-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* clicker-script-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Clicker Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/clicker-script-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Fonts end */




body {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: white;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

/* Header style start */

.header {
  width: 100%;
  position: fixed;
  transition: .4s linear;
  z-index: 999;
}

.header-active {
  background-color: #442808;
  padding-bottom: 20px;
}

.header-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
}

.header-logo-link {
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  color: white;
  font-family: 'Clicker Script';
  margin-right: 265px;
}

.header-nav-item {
  margin-right: 60px;
}

.header-nav-item:last-child {
  margin-right: 35px;
  margin-left: 160px;
  border-bottom: solid;
  border-width: 0.5px;
  border-color: rgb(233, 226, 226);

}

.header-nav-item-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: white;
}

.header-button-singUp {
  background-color: #F9C06A;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: #1E1E1E;
  padding: 14px 27px 15px 27px;
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.22);
}

/* Header style end */


/* Intro style start */

.intro {
  min-height: 100vh;
  background: 
  linear-gradient(89.82deg, #1E1E1E -6.88%, rgba(0, 0, 0, 0) 87.45%),
  url('../img/png/coffee-bg.png') no-repeat center;
  background-size: cover;
  padding-top: 183px;
}

.intro-top-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
}

.intro-title {
  font-family: 'Clicker Script';
  font-weight: 400;
  font-size: 220px;
  line-height: 291px;
}

.intro-desc {
  width: 527px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 20px;
}

.intro-button-orderNow {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #1E1E1E;
  padding: 14px 26px 13px 26px;
  background-color: #F9C06A;
  border-radius: 24px;
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.32);
}

/* Intro style end */



/* Menu style start */

.menu {
  background:
  url('../img/svg/coffee_blast.svg') no-repeat left top 421px,
  url('../img/svg/coffee_blast-right.svg') no-repeat right bottom 549px;
  background-color: #FFFEFC;
}

/* Menu-desc style start */

.menu-desc-text-title {
  font-weight: 700;
  font-size: 54px;
  line-height: 72px;
  color: #603809;
  margin-bottom: 29px;
}

.menu-desc-text-subtext {
  width: 585px;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #707070;
  margin-bottom: 29px;
}

.menu-desc-text-link {
  background-color: #F9C06A;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #1E1E1E;
  padding: 14px 24px 13px 23px;
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.22);
}

.menu-desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 82px;
  margin-bottom: 82px;
}

.menu-desc-text {
  padding-top: 68px;
}

/* Menu-desc style end */

/* Menu-cards style start */

.menu-cards-desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px;
}

.menu-cards-desc-title {
  font-weight: 700;
  font-size: 54px;
  line-height: 72px;
  color: #603809;
}

.menu-cards-desc-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #707070;
}

.menu-cards-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.menu-cards-item {
  background-color: #FFF9F1;
}

.menu-cards-item-desc {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(249, 192, 106, 0.42);;
  border-top: none;
  padding-top: 14px;
  position: relative;
}

.menu-cards-item-desc-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: #603809;
  margin-bottom: 6px;
}

.menu-cards-item-desc-comp {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1E1E1E;
  margin-bottom: 6px;
}

.menu-cards-item-desc-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #603809;
  margin-bottom: 42px;
}

.menu-cards-item-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #1E1E1E;
  padding: 14px 26px 13px 26px;
  background-color: #F9C06A;
  border-radius: 24px;
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.32);
  position: absolute;
  bottom: -15%;
  left: 25%;
}

.menu-cards {
  margin-bottom: 82px;
}

/* Menu-cards style end */

/* menu-advantages style start */

.menu-advantages {
  padding-bottom: 82px;
}

.menu-advantages-desc {
  text-align: center;
}

.menu-advantages-desc-title {
  font-weight: 700;
  font-size: 54px;
  line-height: 72px;
  margin-bottom: 16px;
  color: #603809;
}

.menu-advantages-desc-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #707070;
  margin-bottom: 32px;
}

.menu-advantages-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  text-align: center;
  margin-bottom: 32px;
}

.menu-advantages-card {
  background-color: rgba(255, 249, 241, 1);
  border: solid;
  border-width: 1px;
  border-color: rgba(249, 192, 106, 0.42);
}

.menu-advantages-card-img {
  padding-top: 36px;
  margin-bottom: 25px;
}

.menu-advantages-card-desc-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color:#603809;
  margin-bottom: 8px;
}

.menu-advantages-card-desc {
  padding-bottom: 36px;
}

.menu-advantages-card-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #707070;
  max-width: 192px;
  margin: 0 auto;
}

.menu-advantages-first-card {
  background-color: #FFEED8;
  border: none;
}

.menu-advantages-post-text {
  text-align: center;
  margin-bottom: 24px;
}

.menu-advantages-post-text-sub {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #707070;
}

.menu-advantages-post-text-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #603809;
}

.menu-advantages-post-conteiner-button {
  text-align: center;
}

.menu-advantages-post-button {
  padding: 13px 41px 14px 41px;
  color: #1E1E1E;
  background: #F9C06A;
  box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
  border-radius: 24px;
}

/* menu-advantages style end */

/* menu style end */


/* promo style start */

.promo {
  background:
  linear-gradient(rgba(96, 56, 9, 0.8)),
  url("../img//png/Rectangle\ 14.png") no-repeat;
  background-size: cover;
  position: relative;
}

.wrapper-promo {
  display: flex;
  justify-content: space-between;
}

.promo-text {
  margin-top: 135px;
  width: 575px;
}

.promo-text-title {
  font-weight: 700;
  font-size: 54px;
  line-height: 72px;
  margin-bottom: 22px;
}

.promo-text-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 22px;
}

.promo-img {
  margin-top: 54px;
  z-index: 3;
}

.promo-text-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #1E1E1E;
  padding: 14px 26px 13px 26px;
  background-color: #F9C06A;
  border-radius: 24px;
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.32);
}

.promo-bg-bean-img-pic {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* promo style end */


/* feedback style start */

.feedback {
  background-color: #FFFEFC;
  position: relative;
  padding-top: 82px;
  padding-bottom: 138px;
}

.feedback::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../img/svg/coffee_blast_left.svg") no-repeat left bottom 82px;
  z-index: 1;
}

.feedback::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../img/svg/coffee_blast_right.svg") no-repeat right top 131px;
  z-index: 1;
}

.feedback-text {
  text-align: center;
  margin-bottom: 45px;
}

.feedback-text-title {
  font-weight: 700;
  font-size: 54px;
  line-height: 72px;
  color: #603809;
  margin-bottom: 16px;
}

.feedback-text-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #707070;
}

.feedback-block-comm {
  max-width: 980px;
  background: #FFF9F1;
  border: solid;
  border-width: 1px;
  border-color: rgba(249, 192, 106, 0.42);
  margin: 0 auto;
  position: relative;
}

.feedback-comm-text-quotation-left {
  font-weight: 700;
  font-size: 220px;
  line-height: 112px;
  color: #603809;
}

.feedback-comm-text-quotation {
  margin-top: 54px;
  margin-left: 29px;
}

.feedback-comm-body-text {
  width: 780px;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #707070;
  margin: 0 auto;
  margin-bottom: 28px;
  margin-top: -70px;
}

.feedback-comm-body {
  text-align: center;
  position: relative;
}

.feedback-comm-body-name {
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  color: #603809;
  margin-bottom: 4px;
}

.feedback-comm-body-manager {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 101px;
  color: #707070;
}

.feedback-block-comm-img-manager {
  position: absolute;
  bottom: -27%;
  left: 50%;
  transform: translate( -50%, -50%);
}

.feedback-comm-body-left-button {
  width: 82px;
  height: 82px;
  padding: 33px 33px;
  border-radius: 16px;
  position: absolute;
  background-color: #F9C06A;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.32);
  z-index: 3;
}

.feedback-comm-body-button-thumb {
  max-height: 16px;
  max-width: 16px;
}

.feedback-comm-body-right-button {
  width: 82px;
  height: 82px;
  padding: 33px 33px;
  border-radius: 16px;
  position: absolute;
  background-color: #F9C06A;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.32);
  z-index: 3;
}

/* feedback style end */



/* footer style start */

.footer {
  position: relative;
}

.wrapper-footer-top {
  background: 
  linear-gradient(rgba(96, 56, 9, 0.8)),
  url("../img/png/footer-img-top.png");
  background-size: cover;
  padding: 80px 0;
  position: relative;
}

.footer-top-title {
  font-weight: 700;
  font-size: 54px;
  line-height: 72px;
  margin-bottom: 16px;
}

.footer-top-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 26px;
}

.footer-top {
  text-align: center;
}

.footer-top-form-fieldset {
  display: flex;
  justify-content: center;
  width: 642;
}

.footer-top-form-input {
  background-color: #FFF9F1;
  padding: 16px 339px 16px 26px;
  border-radius: 4px 0 0 4px;
  border-right: none;
}

.footer-top-form-button {
  background-color: #F9C06A;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: #603809;
  padding: 19px 24px 18px 24px;
  border-left: none;
}



.wrapper-footer-bot {
  background: 
  url("../img/png/fotter_image_bot_80.png") no-repeat bottom 0 left,
  #442808;
  background-blend-mode: overlay;
  background-size: cover;
  padding-top: 162px;
  padding-bottom: 72px;
  display: flex;
  justify-content: space-between;
  position: relative;
}


.footer-bot {
  display: flex;
}

.footer-bot-left-block-title {
  font-family: 'Clicker Script';
  font-weight: 400;
  font-size: 54px;
  line-height: 71px;
  margin-bottom: 20px;
}

.footer-bot-left-block {
  margin-right: 66px;
}

.footer-bot-left-block-desc {
  max-width: 380px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}

.footer-bot-left-block-img {
  display: flex;
  align-items: center;
  
}

.footer-bot-left-block-img-link {
  display: inline-block;
  line-height: 0;
  margin-right: 20px;
}

.footer-bot-right-block-nav {
  display: flex;
}

.footer-nav-menu-item-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 55px;
}

.footer-nav-menu-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 22px;
  max-width: 332px;
}

.footer-bot-right-block-nav-menu {
  margin-right: 66px;
}

.footer-bot-right-block-nav-menu:last-child {
  margin-right: 0;
}

.footer-bot-right-block-nav-menu:last-child .footer-nav-menu-item-title {
  margin-bottom: 31px;
}

.footer-nav-menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.footer-cup-bg-left {
  position: absolute;
  left: 0;
  top: 36%;
  transform: translateY(-50%);
}

.footer-cup-bg-right {
  position: absolute;
  right: 0;
  top: 36%;
  transform: translateY(-50%);
}